*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  font-size: 10px;
  font-family: 'Mukta', sans-serif;
}
.app {
  min-height: 100vh;
  background: rgb(58, 76, 98);

  &__search-container {
    text-align: center;
    margin-top: 2rem;
  }
  &__search {
    padding: 1.3rem 1.5rem;
    border: none;
    width: 80%;
    border-radius: 1rem;
    box-shadow: 0 0 7px 1px #333;
    outline: none;
    transition: transform 0.3s ease-in-out;
  }
  &__search:focus {
    transform: scale(1.05);
  }
  &__btn {
    background: transparent;
    border: none;
    margin-left: 1.5rem;
    color: #fff;
  }
  &__mic-info {
    color: #fff;
    font-size: 1.3rem;
    margin: 1rem 0;
  }
  &__mic {
    background: rgb(233, 234, 238);
    width: 4rem;
    height: 4rem;
    border-radius: 10rem;
    border: 3px solid rgb(119, 218, 243);
    font-size: 1.5rem;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: #fff;
  border-bottom: 2px solid rgb(185, 185, 185);

  &__logo {
    width: 4rem;
    height: 4rem;
    border-radius: 100rem;
  }
  &__name {
    font-size: 1.5rem;
  }
}

.weather {
  background: red;
  min-height: 10rem;
  margin: 2rem auto;
  &__current {
    width: 80%;
    margin: 2rem auto;
    background: #fff;
    min-height: 10rem;
  }
}
