*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  font-size: 10px;
  font-family: 'Mukta', sans-serif;
}

.app {
  min-height: 100vh;
  background: rgb(58, 76, 98);
  background-position: center;
  background-size: cover;
  overflow: hidden;

  &__search-container {
    text-align: center;
    padding: 0.5rem 2rem;
  }
  &__label {
    background: #f7fafc;
    opacity: 0.8;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 4px 1px rgb(58, 58, 58);
  }
  &__search {
    border: none;
    width: 80%;
    font-size: 1.5rem;
    background: transparent;
    padding: 1.3rem;
    outline: none;
    transition: transform 0.3s ease-in-out;
  }
  &__search::placeholder {
    font-size: 1.6rem;
  }
  &__btn-search {
    color: #7b7b7b;
    border: none;
    font-size: 1.6rem;
    margin-left: 1rem;
    background: transparent;
  }
  &__mic {
    background: transparent;
    border: none;
    color: #030a23;
    font-size: 2rem;
    margin-right: 1rem;
  }
  .fa-circle {
    color: rgb(218, 67, 67);
    font-size: 1.7rem;
  }
  &__error {
    color: rgb(218, 67, 67);
    text-align: center;
    font-size: 1.7rem;
    margin-top: 3rem;
  }
}
.Clear {
  background-image: linear-gradient(
      to bottom,
      rgba(33, 33, 33, 0.4),
      rgba(33, 33, 33, 0.4)
    ),
    url('./assets/sunny.png');
}
.Clouds {
  background-image: linear-gradient(
      to bottom,
      rgba(33, 33, 33, 0.4),
      rgba(33, 33, 33, 0.4)
    ),
    url('./assets/cloudy.png');
}

.Rain {
  background-image: linear-gradient(
      to bottom,
      rgba(33, 33, 33, 0.4),
      rgba(33, 33, 33, 0.4)
    ),
    url('./assets/rain.png');
}
.Mist {
  background-image: linear-gradient(
      to bottom,
      rgba(33, 33, 33, 0.4),
      rgba(33, 33, 33, 0.4)
    ),
    url('./assets/mist.png');
}

.weather {
  padding: 1rem;

  &__city {
    font-size: 4rem;
    padding: 2rem;
    color: #fff;
  }
  &__date {
    font-size: 2rem;
    font-weight: 200;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  &__temperature {
    color: #edf2f7;
    font-size: 5rem;
    font-weight: bold;
  }
  &__description {
    margin-top: -2rem;
    font-size: 2.5rem;
    font-weight: 200;
    color: #edf2f7;
  }
  &__details {
    background: #edf2f7;
    opacity: 0.8;
    margin: 3rem auto;
    padding: 2rem;
  }
  &__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  &__info--lower {
    margin-top: 3rem;
  }
  &__details-main {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
  }
  &__details-description {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 200;
  }
  &__next-days {
    display: flex;
    overflow-x: scroll;
  }
  &__next-days::-webkit-scrollbar {
    height: 2px;
  }
  &__next-days::-webkit-scrollbar-thumb {
    background: #626d79;
  }
  &__heading {
    color: #edf2f7;
    font-size: 1.7rem;
    margin: 1rem;
  }
  &__marked {
    font-weight: bold;
  }
}
.next-day {
  background: #020a27;
  opacity: 0.9;
  color: #edf2f7;
  padding: 1rem;
  margin: 0.5rem;
  text-align: center;
  min-width: 30%;

  &__date {
    font-size: 1.5rem;
  }
  &__temp {
    font-size: 1.8rem;
    font-weight: bold;
  }
  &__description {
    font-size: 1.5rem;
  }
}

@keyframes loadingAnimation {
  0% {
    transform: translateY(4px);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(4px);
  }
}

.loading {
  text-align: center;
  margin-top: 4rem;

  .fa-cloud,
  .fa-bolt,
  .fa-sun,
  .fa-cloud-showers-heavy {
    color: #edf2f7;
    opacity: 0.5;
    font-size: 3rem;
    margin: 0.5rem;
    animation: loadingAnimation 2s ease-in-out 0s infinite backwards;
  }

  &__text {
    font-size: 2rem;
    color: #edf2f7;
    font-weight: 200;
  }
}

.hamburger {
  position: relative;
  padding: 2rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__heading {
    font-size: 1.7rem;
    color: #edf2f7;
  }
  &__icon {
    text-align: right;
    z-index: 30;
    position: relative;
    color: #edf2f7;
    font-size: 2rem;
    .fa-times {
      color: #333;
    }
  }
  &__rights {
    margin-top: 5rem;
  }
  &__container-recent {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  &__recent-words {
    background: #c2c2c2;
    font-size: 1.2rem;
    padding: 0.5rem;
    margin: 1rem 0.5rem;
  }
  &__main-heading {
    font-size: 2.2rem;
    text-align: center;
    font-weight: 300;
  }
  &__description {
    font-size: 1.3rem;
    color: #333;
    font-weight: 200;
    text-align: center;
  }
  &__label {
    display: flex;
    align-items: center;
    margin-top: 2rem;
  }
  &__input {
    border: none;
    background: transparent;
    border-bottom: 1px solid #333;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
  }
  &__btn {
    border: none;
    background: transparent;
    margin-left: 1rem;
    font-size: 1.2rem;
  }
  &__input:focus {
    outline: none;
    border-bottom: 2px solid rgb(112, 146, 187);
  }
  .fa-home,
  .fa-search {
    margin-left: 1rem;
  }
  &__footer-text {
    font-size: 1.3rem;
    color: rgb(102, 102, 102);
  }
}
.main {
  padding: 1rem;
  margin-top: 3rem;

  &__box {
    background: #d3d3d3;
    margin: 2rem 1rem;
    // opacity: 0.8;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px #333;
    padding: 1rem 2rem;
  }
  &__heading-3 {
    font-weight: 400;
    border-bottom: 1px solid rgb(112, 146, 187);
    text-align: center;
    font-size: 1.9rem;
  }
  &__description {
    font-weight: 200;
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  &__info {
    color: rgb(136, 136, 136);
    text-align: center;
    margin-top: 5rem;
    font-size: 2rem;
  }
}
