@media screen and (max-width: 900px) and (orientation: landscape) {
  .weather__container {
    justify-content: center;
  }
  .weather__details {
    width: 70%;
  }
  .next-day {
    min-width: 15%;
  }
  .app__label {
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 760px) and (orientation: portrait) {
  html {
    font-size: 12px;
  }
}
@media screen and (min-width: 1020px) and (orientation: landscape) {
  .weather__container {
    justify-content: center;
  }
  .weather__details {
    width: 90%;
  }
  .next-day {
    min-width: 15%;
  }
  .app__label {
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1150px) and (orientation: landscape) {
  .weather__container {
    justify-content: center;
  }
  .weather__city {
    text-align: center;
  }

  .weather__details {
    width: 50%;
  }
  .next-day {
    min-width: 10%;
  }
  .app__label {
    width: 40%;
    margin: 0 auto;
  }
  .weather__heading {
    text-align: center;
  }
  .weather__next-days {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .main__box {
    width: 40%;
    margin: 2rem auto;
  }
}
